<!DOCTYPE html>
<html ng-app="brainwasher">
    <head>
        <title>Brainwasher</title>
        <script src="../lib/angular/angular.js"></script>
        <script src="js/brainwasher.js"></script>
        <style>
            .slide {
                border: 2px solid red;
            }
        </style>
    </head>
    <body ng-controller="BrainController">
        <div class="container" ng-init="current = 0">
            <h1>Welcome to the Brainwasher!</h1>
            <h1>{{title}}</h1>
            <div class="controls">
                <button ng-click="startSlides()">
                    Start
                </button>
                <button ng-click="prevSlide()">
                    Previous
                </button>
                <button ng-click="nextSlide()">
                    Next
                </button>
                Current: {{current}}
            </div>
            <div class="slide" ng-model="slideTitle">
                <h2>{{slideTitle}}</h2>
            </div>
        </div>
    </body>
</html>
